html, body{
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	font-family:Arial;
	font-size: 14px;
	text-align: center;
	color: black;
}

/* BOX PRINCIPAL – SLIDES */
#box, #box1, #box2{
width:100%; 
height:100%; 
}

#box-centro, #box-centro1, #box-centro2, #box-centro3, #box-centro4, #box-centro5{ 
width:100%; 
height:400px; 
margin:0 auto; 
}

img{
	width:400px;
	height:400px;
	text-align: center;
}
