html, body{
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	font-family:Arial;
	font-size: 14px;
	text-align: center;
	color: black;
}

li {
   background-image: none;
  background-color: #53b401;
   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76fe04), color-stop(50%, #5fcd01), color-stop(51%, #53b401), color-stop(100%, #479b01));
  background-image: -webkit-linear-gradient(top, #76fe04, #5fcd01 50%, #53b401 51%, #479b01);
  background-image: linear-gradient(top, #76fe04, #5fcd01 50%, #53b401 51%, #479b01);
  color: white;
  text-shadow: #3c8101 0 -1px 0;
   display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 20px;
  
  text-align: center;
  text-decoration: inherit;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  
	 
}




li a {
	
	background-image: none;
  background-color: #53b401;
	
	display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 20px;
  padding: 10px;
  text-align: center;
  text-decoration: inherit;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76fe04), color-stop(50%, #5fcd01), color-stop(51%, #53b401), color-stop(100%, #479b01));
  background-image: -webkit-linear-gradient(top, #76fe04, #5fcd01 50%, #53b401 51%, #479b01);
  background-image: linear-gradient(top, #76fe04, #5fcd01 50%, #53b401 51%, #479b01);
  color: white;
  text-shadow: #3c8101 0 -1px 0;
  
}
li a.active {
 background-image: none;
  background-color: #c12926;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #de5856), color-stop(50%, #d52e2b), color-stop(51%, #c12926), color-stop(100%, #ac2422));
  background-image: -webkit-linear-gradient(top, #de5856, #d52e2b 50%, #c12926 51%, #ac2422);
  background-image: linear-gradient(top, #de5856, #d52e2b 50%, #c12926 51%, #ac2422);
  color: white;
  text-shadow: #97201e 0 -1px 0;
  }
  
h1, footer, header {
	display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 20px;
  
  text-align: center;
  text-decoration: inherit;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: none;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6a6a6a), color-stop(50%, #515151), color-stop(51%, #444444), color-stop(100%, #373737));
  background-image: -webkit-linear-gradient(top, #6a6a6a, #515151 50%, #444444 51%, #373737);
  background-image: linear-gradient(top, #6a6a6a, #515151 50%, #444444 51%, #373737);
  color: white;
  text-shadow: #2b2b2b 0 -1px 0;
}

/* BOX PRINCIPAL – SLIDES */
#box, #box1, #box2{
width:100%; 
height:100%; 
margin:0 auto; 
 
background-color: #fff; 
border-bottom: 1px solid #4b8874; 

}

#box-centro, #box-centro1, #box-centro2{ 
width:100%; 
height:400px; 
margin:0 auto; 
 
border: 5px solid #fff;
/*SOMBRA EM TODOS NAVEGADORES*/
box-shadow: 1px 1px 10px #000;
-moz-box-shadow: 1px 1px 10px #000;
-webkit-box-shadow: 1px 1px 10px #000;
-khtml-box-shadow: 1px 1px 10px #000;
/*BORDAS ARREDONDADAS EM TODOS NAVEGADORES*/
border-radius: 50px 0px 50px 0px;
-moz-border-radius: 50px 0px 50px 0px;
-webkit-border-radius: 50px 0px 50px 0px;
-khtml-border-radius: 50px 0px 50px 0px;
}
